// Footer Section

@use "utils/variables" as *;
@use "utils/mixins" as *;


footer {
    background-color: #0A0C23;
    margin-top: 50px;

    p {
        padding: 12px;
        text-align: center;
        color: $white-color;
        font-style: italic;
        font-weight: 300;
    }
}